.auto-style2 {
	text-align: center;
}
.auto-style3 {
	text-align: center;
	color: #00C;
}
.auto-style4 {
	font-family: Verdana;
	text-decoration: line-through;
}
.auto-style5 {
	color: #0000FF;
}
.auto-style6 {
	background-color: #FFFFFF;
}
.auto-style7 {
	color: #FF0000;
	background-color: #FFFFFF;
}
.auto-style8 {
	color: #000000;
}
.auto-style9 {
	text-align: left;
}

.content_class {
	max-width: 840px;
	padding: 0;
	margin-left: 9em;
	padding-left: 5px;
	border-left: 3px solid #bbb;
	text-align: justify;
	font: 10pt Verdana, Tahoma, Sans-Serif;
}

.alist {
	border-spacing: 4px;
	width: 100%;
}
.alist th {
	border-right: 3px solid #bbb;
	text-align: right;
	padding-right: 0.7em;
	width: 8em;
}
.alist td.heading {
	border: 1px solid;
}
.alist td.indent1 { 
  background-color: #cde;
}
.alist td.indent2 { 
  border: 1px dashed;
  padding-left: 2em;
}
.alist .empty {
	height: 1.5em;
}
.alist td.paper {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.alist .hltablerow:hover {
	background: #eee;
	cursor: default;
	margin-bottom: 10em;
}

#nav {
	position: relative;
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 1em;
	text-align: right;
	width: 7.5em;
}
#nav a {
	display: block;
	padding: 0.5em;
	border: 1px solid #fff;
	margin: 0;
	margin-right: 3px;
}
#nav a.selected {
	background: #eee;
	border-color: #ddd;
}
#nav a:hover {
	text-decoration: none;
	color: navy;
}
#nav a.good:hover {
	background: #bbf;
	border: 1px solid #55f;
}

@media(max-width:960px)
{
  body {width:100%;} 
  #contents{width:100%} 
  #contents img{max-width:90%} 
}